
// Overridge Bootstrap variables here.

$body-bg: #f8f9fa;

$h1-font-size: 2.5rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.30rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.10rem;
$h6-font-size: 1rem;

$navbar-nav-link-padding-x:         1rem;

$navbar-toggler-padding-y:          0.25rem;
$navbar-toggler-padding-x:          0.75rem;
$navbar-toggler-border-radius:      0;

$navbar-dark-color:                 rgba(white, 0.85);
$navbar-dark-hover-color:           rgba(white, 0.95);
$navbar-dark-active-color:          white;
$navbar-dark-disabled-color:        rgba(white, 0.25);
$navbar-dark-toggler-border-color:  transparent;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$blockquote-font-size: 1rem;
