@import 'global';
@import 'bootstrap/scss/grid';

// Top-level blocks are treated as containers.
.article .content > div[property="schema:text"] {
  > *:not(.alignfull) {
    @include make-container();
    @include make-container-max-widths();
  }

  // Remove the side padding because the columns block's children provide
  // their own.
  > .wp-block-columns {
    padding-left: 0;
    padding-right: 0;
  }
}

.wp-block-columns {
  @extend .row;
}

.wp-block-column {
  @extend .col-md;
}

// Image should be constrained by container's width and should maintain
// it's aspect ratio.
.wp-block-image {
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

// Responsive iframe.
.wp-block-embed__wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding-bottom: 56.4%;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
