.backdrop {
  position: relative;
  height: 100%;
  width: 100%; }
  .backdrop::after {
    background-size: cover;
    background-position: center;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
